@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff2e73d;
    padding: 64px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.644);
    margin-top: 10px;
    background-color: #fff2e7ef;
}

.lista-text {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 28px;
    color: #2c1619;
    margin-bottom: 16px;
}

.lista-paragrafo {
    font-family: 'Sarala', sans-serif;
    color: #2c1619;
    font-weight: 400;
    font-size: 18px;
}

.lista-agradecimento {
    font-family: 'Sarala', sans-serif;
    color: #221113;
    font-weight: 400;
    font-size: 19px;
    margin-top: 14px;
}

.colaborar {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff2e73d;
    padding: 64px;
}

.colabore-text {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 28px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.colabore-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.colabore-button {
    background-color: #ECD6C4;
    width: 185px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    color: #2F2325;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;

}

.rodape-img {
    height: 48px;
    display: block;
    margin: 0 auto;
}