@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff2e73d;
    padding: 24px;
}

.lista-text {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 28px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.lista-paragrafo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color: #fff2e793;
    font-size: 24px;
    padding: 30px;
    cursor: pointer;
}

.lista-paragrafo:hover {
    transform: scale(1.1);
}