<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educação e Tecnologia</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="cabeçalho">
        <img class="img_cabeçalho" src="" alt="logo">
        <nav>
            <a class="button_cabeçalho" href="">Comunidade</a>
            <a class="button_cabeçalho" href="">Tutoriais</a>
            <a class="button_cabeçalho" href="">Open Source</a>
            <a class="button_cabeçalho" href="">Comandos</a>
        </nav>
    </header>

    <main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-escrito-titulo">Eucação Tecnologica</h1>
                <h2 class="conteudo-principal-escrito-sub-titulo">Encontre os melhores caminhos para conectar a tecnologia à educação!!</h2>
                <button class="conteudo-principal-button">Participe</button>
            </div>

            <img class="conteudo-principal-img" src="" alt="imagem interativa">
        </section>

        <section class="conteudo-secundario">

            <h3 class="conteudo-secundario-titulo"></h3>
            <p class="conteudo-secundario-paragrafo"></p>
            <p class="conteudo-secundario-paragrafo"></p>
            <p class="conteudo-secundario-paragrafo"></p>

        </section>
    </main>

    <footer class="rodape">
        <img class="rodape-img" src="" alt="logo">
    </footer>

</body>

</html>