<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artigo</title>
    <link rel="stylesheet" type="text/css" href="/artigo.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header class="cabeçalho">
        <a href="http://localhost:8000/"> <img class="img_cabeçalho" src="/img_cabeçalho.png" alt="logo"> </a>
        <nav class= "cabeçalho_geral">
            <a class="button_cabeçalho" href="http://localhost:8000/Tutoriais">Tutoriais</a>
            <a class="button_cabeçalho" href="http://localhost:8000/ferramentas">Ferramentas</a>
            <a class="button_cabeçalho" href="http://localhost:8000/colaboradores">Colaboradores</a>
            <a class="button_cabeçalho" href="http://localhost:8000/autores">Autores</a>
        </nav>
    </header>

    <main class="conteudo">
        <section class="artigo">
            <h1 class="artigo-text"><%= ferramentas.titulo %></h1>
            <p><%= ferramentas.artigo %></p>
        </section>
    </main>

    <footer class="rodape">
        <img class="rodape-img" src="/img_cabeçalho.png" alt="logo">
    </footer>
</body>
</html>