<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educ_tech</title>
    <link rel="stylesheet" type="text/css" href="/ferramentas.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <header class="cabeçalho">
        <a href="http://localhost:8000/"> <img class="img_cabeçalho" src="/img_cabeçalho.png" alt="logo"> </a>
        <nav class= "cabeçalho_geral">
            <a class="button_cabeçalho" href="http://localhost:8000/Tutoriais">Tutoriais</a>
            <a class="button_cabeçalho" href="http://localhost:8000/ferramentas">Ferramentas</a>
            <a class="button_cabeçalho" href="http://localhost:8000/colaboradores">Colaboradores</a>
            <a class="button_cabeçalho" href="http://localhost:8000/autores">Autores</a>
        </nav>
    </header>

    <main class="conteudo">
        <section class="ferramenta">
            <div class="ferramenta-caixa">
                <h1 class="ferramenta-titulo"> Adicione as melhores tecnologias ao processo de aprendizagem: </h1>
                <p class="ferramenta-paragrafo">Encontre os melhores sites e melhores tecnologias que facilitam e auxiliam o ensino.</p>
                <% for(let i = 0; i < ferramentas.length; i++) { %>
                <a class="ferramenta-lista" href="/artigo/<%= ferramentas[i].titulo %>"> <%= ferramentas[i].titulo %> </a> <br>
                <% }%>
            </div>
        </section>
    </main>

    <footer class="rodape">
        <img class="rodape-img" src="/img_cabeçalho.png" alt="logo">
    </footer>

</body>

</html>