<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educ_tech</title>
    <link rel="stylesheet" type="text/css" href="/style_index.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <header class="cabeçalho">
        <a href="http://localhost:8000/"> <img class="img_cabeçalho" src="/img_cabeçalho.png" alt="logo"> </a>
        <nav class= "cabeçalho_geral">
            <a class="button_cabeçalho" href="http://localhost:8000/comunidade">Comunidade</a>
            <a class="button_cabeçalho" href="http://localhost:8000/Tutoriais">Tutoriais</a>
            <a class="button_cabeçalho" href="http://localhost:8000/ferramentas">Ferramentas</a>
            <a class="button_cabeçalho" href="http://localhost:8000/autores">Autores</a>
        </nav>
    </header>

    <main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-escrito-titulo">Educa Tech</h1>
                <h2 class="conteudo-principal-escrito-sub-titulo">Encontre os melhores caminhos para se conectar <br> no universo de tecnologia e educação!!</h2>
                <a href="http://localhost:8000/participe"><button class="conteudo-principal-button">Participe</button></a>
            </div>

            <img class="conteudo-principal-img" src="/img_corpo.png" alt="imagem interativa">
        </section>

        <section class="conteudo-secundario">

            <h3 class="conteudo-secundario-titulo">Educação e tecnologia:</h3>
            <p class="conteudo-secundario-paragrafo">Conheça as ferramentas que potem ajudar no processo de aprendizagem!!</p>
            <p class="conteudo-secundario-paragrafo">Compreenda as e execute as melhores metodologias educativas interligadas à tecnologia!!</p>
            <p class="conteudo-secundario-paragrafo">Conheça uma comunidade que pensa em uma educação inovadora!!</p>

        </section>
    </main>

    <footer class="rodape">
        <img class="rodape-img" src="/img_cabeçalho.png" alt="logo">
    </footer>

</body>

</html>